body{
    background-color: rgb(16, 208, 233);
}
img{
    width: 200px; /*ancho de la imagen*/
    height: 200px; /*largo de la imagen*/
}

input{
    border-radius: 6px;
    border: 4px solid rgb(5, 5, 5);
}